package views

import "gliphtones/database"

templ Index(ringtones []database.RingtoneModel) {
	<!DOCTYPE html>
	<html lang="cs">
		@Head()
		<body>
			@Header()
			<main>
				<div id="list-of-ringtones">
					for i, ring := range ringtones {
						@Ringtone(ring, i)
					}
				</div>
				<div id="sus"></div>
			</main>
			<script src="/static/ringtone.js" type="module"></script>
		</body>
	</html>
}
