package views

import "gliphtones/database"
import "fmt"

templ Canvas() {
	<canvas></canvas>
}

templ Ringtone(data database.RingtoneModel) {
	<div class="ringtone">
		<div class="audio">
			<button>
				<img src="/static/icons/iconmonstr-video-13.svg"/>
			</button>
			@Canvas()
		</div>
		<span>{ data.Name } { fmt.Sprintf("%d", data.Id) }</span>
	</div>
}
