package views

import (
	"fmt"
	"gliphtones/database"
)

templ Ringtone(data database.RingtoneModel, index int) {
	<div class="ringtone" data-i={ fmt.Sprintf("%d", index) } data-id={ fmt.Sprintf("%d", data.Id) }>
		<div class="audio">
			<button type="button">
				<img src="/static/icons/loading.svg"/>
			</button>
			<div class="wave"></div>
		</div>
		<span>{ data.Name } { fmt.Sprintf("%d", data.Id) }</span>
	</div>
}
