* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #1b1b28;
    --menu-bg-color: black;
    --txt-color: rgb(245, 245, 245);
}

@font-face {
    font-family: "Ndot";
    src: url("/static/ndot-45-inspired-by-nothing.ttf");
}

@font-face {
    font-family: "Ntype";
    src: url("/static/NType82-Regular.otf");
}

body {
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-family: "Ntype";
}

header {
    width: 100%;
    height: 4em;
    background-color: var(--menu-bg-color);
    font-family: "Ndot";
    padding: 0.4em;
    display: flex;
    align-items: center;
}

header #logo {
    position: relative;
    top: -2px;
    margin-left: 1em;
    user-select: none;
    pointer-events: none;
}

#list-of-ringtones {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}

.ringtone {
    background-color: var(--menu-bg-color);
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    transition: border .2s;
}

.ringtone:hover {
    border: 1px solid rgb(190, 0, 0);
}

.ringtone .audio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ringtone .audio .wave {
    width: calc(100% - 48px - 20px);
    height: 3em;
}

.ringtone .audio button {
    background-color: transparent;
    border: none;
    border-radius: 1000px;
    width: 48px;
    height: 48px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.ringtone .audio button img {
    width: 100%;
    aspect-ratio: 1/1;
    user-select: none;
    pointer-events: none;
}