* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #1b1b28;
    --menu-bg-color: black;
    --txt-color: rgb(245, 245, 245);
    --base-border-radius: 4px;
}

@font-face {
    font-family: "Ndot";
    src: url("/static/ndot-45-inspired-by-nothing.ttf");
}

@font-face {
    font-family: "Ndot2";
    src: url("/static/nothing-font.ttf");
}

@font-face {
    font-family: "Ntype";
    src: url("/static/SpaceGrotesk-VariableFont_wght.ttf");
}

body {
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-family: "Ntype";
    position: relative;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    width: 100%;
    height: 4em;
    background-color: var(--menu-bg-color);
    padding: 0.4em 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    gap: 1em;
}

header nav a {
    text-decoration: none;
    color: var(--txt-color);
    cursor: pointer;
}

header #logo {
    position: relative;
    top: -2px;
    color: var(--txt-color);
    text-decoration: none;
    user-select: none;
    font-family: "Ndot";
    display: flex;
    flex-direction: column;
}

header #logo span {
    font-size: 0.7em;
    font-family: "Ndot2";
}

main {
    /* for footer */
    padding-bottom: 6em;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: var(--menu-bg-color);
    padding: 1em;
    font-size: 0.7em;
    margin-top: 4em;
    height: 6em;
}

#filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 0.5em;
    padding: 1em 2em;
}

#filters>* {
    border: 1px solid black;
    border-radius: var(--base-border-radius);
    font-family: "Ntype";
    color: var(--txt-color);
    transition: border .2s;
}

#filters input[type="checkbox"] {
    background-color: black;
    font-size: 1.1em;
    padding: 0.6em 0.2em 0.4em 0.2em;
}

#filters input[type="text"] {
    padding: 0.2em 0.2em 0.2em 1.9em;
    width: 100%;
    font-size: 1.4em;
    background: url("/static/icons/search.svg") no-repeat scroll 8px;
    background-size: 26px;
    background-color: black;
    grid-column: 1/3;
}

#filters>*:focus {
    outline: none;
    border: 1px solid red;
}

#filters>#show-checkboxes:focus~#filter-container {
    outline: none;
    border: 1px solid red;
}

#filter-container {
    background-color: black;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    transition: 0.3s;
    max-height: calc(1.8em + 0.6em);
}

#filter-container.open {
    max-height: 22em;
    border-color: red;
}

#filter-container>hr {
    grid-column: 1/3;
    width: 96%;
    justify-self: center;
}

#show-checkboxes {
    background-color: black;
    border: 1px solid black;
    border-radius: var(--base-border-radius);
    color: var(--txt-color);
    font-size: 1.2em;
    padding: 0.3em;
    font-family: "Ntype";
    grid-column: 1 / 3;
    cursor: pointer;
}

.filters-column {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.6em;
}

.filters-column>span {
    font-size: 1.3em;
}

.filters-column #checkboxes {
    display: flex;
    flex-direction: column;
}

.filters-column #checkboxes label {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    cursor: pointer;
}

.filters-column input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.filters-column label .checkmark {
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 50%;
    border: none;
    transition: background-color 0.15s;
}

.filters-column label span.name {
    max-width: calc(100% - 12px - 6px);
}

.filters-column input[type="checkbox"]:checked+.checkmark {
    background-color: red;
}

#list-of-ringtones {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em 2em;
}

#list-of-ringtones>span {
    text-align: center;
}

.ringtone {
    background-color: var(--menu-bg-color);
    border: 1px solid black;
    border-radius: var(--base-border-radius);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    transition: border .2s;
}

.ringtone:hover {
    border: 1px solid rgb(190, 0, 0);
}

.ringtone .audio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ringtone .audio .wave {
    width: calc(100% - 48px - 20px);
    height: 3em;
}

.ringtone .audio button {
    background-color: transparent;
    border: none;
    border-radius: 1000px;
    width: 48px;
    height: 48px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.ringtone .audio button img {
    width: 100%;
    aspect-ratio: 1/1;
    user-select: none;
    pointer-events: none;
}

.ringtone .captions {
    display: flex;
    flex-direction: column;
}

.ringtone .captions span:not(.name) {
    opacity: 0.8;
    font-size: 0.8em;
}

#pages {
    display: flex;
    padding: 0.6em 0;
    justify-content: space-between;
}

#pages>span {
    text-align: center;
}

#pages>button {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    font-family: "Ntype";
    font-size: 1em;
    flex-basis: 5em;
    transition: color 0.1s;
}

#pages>button:hover {
    color: red;
}

#pages>button:disabled {
    color: rgba(255, 255, 255, 0.4);
    cursor: not-allowed;
}

#pages>button:last-child {
    text-align: right;
}