main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10em;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 1.5em;
}

h2~span {
    margin-bottom: 0.6em;
    color: rgba(255, 255, 255, 0.7);
}

main p {
    margin-bottom: 0.4em;
}

main p a {
    color: red;
    white-space: nowrap;
}

main p i {
    color: red;
    white-space: nowrap;
}

main img {
    width: 95%;
    margin: 1.2em 0;
}

code {
    display: block;
    white-space: pre;
    background-color: black;
    margin: 0.6em;
    padding: 1em 1.4em;
    text-align: left;
    border-radius: var(--base-border-radius);
    font-size: 1.3em;
}

#table-of-contents {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: black;
    padding: 1em;
    border-radius: var(--base-border-radius);
    margin-top: 2em;
    width: 90%;
}

#table-of-contents a {
    color: var(--txt-color);
    margin: 0.1em 0;
}

#table-of-contents hr {
    margin-bottom: 0.5em;
}

#table-of-contents span {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

#table-of-contents div {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 500px) {
    #table-of-contents {
        max-width: 25em;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }

    #table-of-contents span {
        max-width: 28%;
        text-align: left;
    }

    #table-of-contents hr {
        margin-bottom: 0;
        align-self: stretch;
    }

    #table-of-contents div {
        margin-left: 1em;
    }
}

@media screen and (min-width: 800px) {
    main p {
        max-width: 40em;
    }

    main img {
        width: 60%;
    }
}
