#glyph-preview {
    z-index: 1000;
    background-color: black;
    position: relative;
    top: 0;
    left: 0;
    align-self: flex-end;
    border-radius: 25px;
    border: 1px solid var(--bg-color);
    transition: border 0.2s;

    display: none;

    &.rectangle {
        width: 135px;
        height: 265px;
    }

    &.square {
        width: 160px;
        height: 160px;
    }

    &.circle {
        width: 160px;
        height: 160px;
        border-radius: 50%;

        svg {
            padding-top: 9px;
        }
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px 10px 2px 10px;
        width: 100%;
        height: 100%;
        display: none;
    }
}

@media screen and (min-width: 900px) {
    #glyph-preview {
        transform: none !important;

        &.rectangle {
            width: 135px;
            height: 265px;
        }

        &.square {
            width: 220px;
            height: 220px;
        }

        &.circle {
            width: 220px;
            height: 220px;
            border-radius: 50%;
        }
    }
}

@media screen and (max-width: 899px) {
    #filters~#glyph-preview {
        position: fixed;
        top: 225px;
        right: 15px;
        left: auto;
        border-radius: 14px;
        cursor: move;
        touch-action: none;
        border: 1px solid red;

        &.circle {
            border-radius: 50%;
        }

        svg {
            padding: 6px 6px 3px 6px;
        }
    }
}
