package components

templ Head() {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Gliphtones</title>
		<link rel="stylesheet" href="/static/style.css"/>
		<script src="/static/htmx.min.js"></script>
	</head>
}

templ Header() {
	<header>
		<a id="logo" href="/">
			Gliphtones
		</a>
		<nav>
			<a id="login" href="/sus">Log In</a>
		</nav>
	</header>
}
